@import "../../../../styles/main.scss";

.text-field {
  font-family: $tile-font;
  height: 25px;
  width: 90%;
  margin-top: 25px;
  font-size: 14px;
  text-align: center;
  outline: none;
}

.field-container input {
  border: none;
  border-bottom: 1px solid #B0BEC5;
}

.tile-form-exit {
  font-size: 18px;
  text-align: right;
  color: black;
  cursor: pointer;
}

.tile-form-exit:hover {
  color: $accent;
}

.button-container {
  margin-top: 25px;
}

.tile-add-button {
  width: 75px;
}

.submit-button {
  border: none;
  background-color: $gray;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
