@import "../../styles/main.scss";

.tiles-view {
  height: 100vh;
  text-align: center;
}

.tiles-message {
  margin-top: 25px;
  font-size: 24px;
}

.tiles-grid {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 5px;
}

@media only screen and (max-width: 500px) {
  .tiles-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 5px;
  }
}
