@import "../../../../styles/main.scss";

.tile-form-hidden {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $gray;
  cursor: pointer;
}

.tile-form-plus {
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.tile-form-plus:hover {
  color: $accent;
}
