@import "../../../../styles/main.scss";

.entry-add-form {
  position: relative;
  background-color: $accent;
  width: 60%;
  margin: 0 auto;
  color: white;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-family: $main-font;
  box-shadow: $shadow;
}

.entry-date {
  color: white;
  font-weight: bold;
  display: block;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 10px;
  font-family: $main-font;
  font-size: 18px;
  width: 275px;
  border: none;
}

.numbers-container {
  display: inline;
  input {
    border: none;
  }
}

.activity, .comments {
  margin-top: 10px;
  text-align: left; // formats placeholder
  display: block; // keeps field on its own line
  padding-left: 10px;
  width: 90%;
  height: 40px;
  font-size: 16px;
  font-weight: 300;
  font-weight: bold;
}

.comments {
  font-size: 14px;
  font-weight: normal;
  margin-top: 15px;
  height: 80px;
}

.text-box textarea {
  background-color: white;
  resize: none;
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 25px;
  padding-top: 10px;
  border: none;
  border-radius: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: $main-font;
  font-weight: normal;
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: $main-font;
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: $main-font;
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: $main-font;
  font-size: 14px;
}

.hours, .min {
  background-color: white;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  margin: 30px 10px 0px 10px;
  text-align: center;
  font-size: 14px;
}

.save {
  width: 100px;
}

.cancel-icon {
  color: $gray;
  position: absolute;
  top: 4%;
  right: 3%;
  font-size: 24px;
}

.cancel-icon:hover {
  color: white;
}

.button-container {
  text-align: center;
}

.submit-button {
  font-weight: bold;
}

.submit-button:hover {
  background-color: white;
  color: $gray;
}

@media screen and (max-width: 700px) {
  .entry-add-form {
    width: 90%;
  }
}
