@import "../../../../styles/main.scss";

.entry {
  width: 75%;
  margin: 0 auto;
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  background-color: white;

  border-bottom: 6px solid #00BCD4;
  font-size: 18px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.date {
  position: absolute;
  margin-right: 10px;
  display: inline-block;
  padding-bottom: 10px;
  font-size: 14px;
  color: $gray;
}

.time {
  margin: 0px;
  display: inline-block;
  font-size: 14px;
  color: $gray;
}

.entry-content {
  display: block;
  margin-top: 25px;
  margin-bottom: 10px;
  color: $gray;
  max-width: 90%;
}

.delete, .edit {
  position: absolute;
  display: inline-block;
  color: $gray;
  right: 15%;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  cursor: pointer;
}

.edit {
  margin-top: 30px;
}

@media screen and (max-width: 375px) {
  .edit, .delete {
    right: 12%;
  }
}


@media screen and (max-width: 320px) {
  .delete {
    margin-top: 75px;
    right: 12%;
  }
  .edit {
    margin-top: 75px;
    right: 20%;
  }
}
