$color-0: #d0dee5;
$color-1: #b9ced8;
$color-2: #a2becb;
$color-3: #8baebe;
$color-4: #749db1;
$color-5: #5d8da4;
$color-6: #467d97;
$color-7: #2f6d8a;
$color-8: #185d7e;

$brand-color-1: #00C7A9;
$brand-color-2: #185d7e;

$gray: #263238;
$light-gray: #E9EAEB;
$lightest-gray: #e7eef2;
$red: #b71c1c;
$near-white: #f4f4f1;

$accent: $brand-color-1;
