@import "../../styles/main.scss";

.entry-instructions {
  width: 100%;
  background-color: $color-0;
  text-align: center;
}

.entry-instructions-text {
  width: 80%;
  margin-left: 10%;
  padding: 10px;
}
