@import "../../styles/main.scss";

.nav {
  position: fixed;
  height: 65px;
  background-color: $gray;
  box-shadow: $shadow;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav li {
  margin-left: 25px;
  display: inline;
  list-style: none;
  color: white;
  font-size: 18px;
}

.nav a:hover {
  color: $color-0;
}

.nav a {
  font-family: $main-font;
  color: white;
  line-height: 65px;
}

.nav a:hover {
  color: #00BCD4;
}

.nav a.active {
  color: #00BCD4;
}

.personal-greeting {
  p {
    margin: 0;
    padding: 0;
  }
  position: absolute;
  line-height: 65px;
  right: 5%;
}

@media screen and (max-width: 425px) {
  .nav li {
    font-size: 14px;
  }
}
