@import "../../../../styles/main.scss";

.entry-edit-form {
  position: relative;
  background-color: #f4f4f1;
  width: 60%;
  margin: 0 auto;
  color: black;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-family: $main-font;
  box-shadow: $shadow;
}

.cancel {
  display: inline-block;
  margin-left: 75%;
  color: #b71c1c;
  font-size: 12px;
}

.edit-numbers-container {
  display: inline;
  input {
    border: none;
  }
}

.activity-edit, .comments-edit {
  text-align: left; // formats placeholder
  display: block; // keeps field on its own line
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  height: 40px;
  font-size: 18px;
  font-weight: 300;
  font-weight: bold;
}

.activity-edit {
  margin-top: 35px;
}

.comments-edit {
  font-size: 14px;
  font-weight: normal;
  height: 75px;
  padding-bottom: 0px;
  line-height: 40px;
}

.text-box-edit textarea {
  background-color: white;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 0px;
  border: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: $main-font;
  font-size: 18px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: $main-font;
  font-size: 18px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: $main-font;
  font-size: 18px;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: $main-font;
  font-size: 18px;
}

.hours-edit, .min-edit {
  background-color: white;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  height: 30px;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

.button-container {
  text-align: center;
}

.submit-button {
  font-weight: bold;
  width: 150px;
}

.submit-button:hover {
  background-color: white;
  color: $gray;
}

@media screen and (max-width: 700px) {
  .entry-edit-form {
    width: 90%;
  }
}
